{% extends "layouts/base.twing.html" %}
{# title #}
{% block title%}
{{__('signup')}}
{% endblock %}
{% block head%}
<style>
   .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100% - 100px);
   }

   .container .card {
      min-width: 300px;
   }
</style>
{% endblock %}

{# content #}
{% block content%}
<div class="container">
   <div>
      <!-- error message -->
      {% if error is defined %}
      <article class="message is-danger">
         <div class="message-body">{{msg('error.' + error)}}</div>
      </article>
      {% endif %}
      <article class="panel is-success">
         <p class="panel-heading">
            {{__('signup')}}
         </p>
         <div class="panel-block" style="display: block;">
            <form method="POST" action="">
               <!-- alias -->
               <div class="field">
                  <label class="label">{{__('alias')}}</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input" type="text" required name="alias">
                     <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                     </span>
                  </div>
               </div>
               <!-- email -->
               <div class="field">
                  <label class="label">{{__('email')}}</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input" required type="email" name="email" placeholder="name@example.com">
                     <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                     </span>
                  </div>
               </div>
               <!-- password -->
               <div class="field">
                  <label class="label">{{__('password')}}</label>
                  <div class="control has-icons-left has-icons-right">
                     <input class="input" type="password" required name="password">
                     <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                     </span>
                  </div>
               </div>

               <!-- buttons -->
               <div class="buttons">
                  <button type="submit" class="button is-primary">{{__('signup')}}</button>
                  <a href="{{route('login')}}" class="button is-info is-light">{{__('login')}}</a>
               </div>
            </form>
         </div>

      </article>
   </div>
</div>
</div>
{% endblock %}